%h2 Edit dog:
%form{:action => "/dog/#{@dog.id}", :method => "post"}
  %input{:type => "hidden" ,
         :name => "_method",
         :value => "put"}
  name:
  %input{:type  => "textbox",
         :name  => "name",
         :id    => "name",
         :value => "#{@dog.name}"}
  %br
  adopted?: <!-- #{@dog.adopted ? 1 : 0}-->
  %input{:type  => "checkbox",
         :name  => "adopted",
         :id    => "adopted",
         :value => "true",
         :checked => @dog.adopted ? true : nil}
  %br
  %input{:type => "submit" , :value => "update"}

%a{:href => "/dog/#{@dog.id}/delete" } Delete this dog

