%form(action="/login" method="post")
  %label(for="username")Username:
  %br
  %input#username(type="text" name="username")
  %br

  %label(for="password")Password:
  %br
  %input#password(type="password" name="password")
  %br
  %br

  %input(type="submit" value="Login") or <a href="/">Cancel</a>
