%h2 Add a new Picture
%form{:action => "/picture/create", :method => "post", :enctype=>"multipart/form-data"}
  %input{:type => "file", :name => "file", :id => "name"}
  %input{:type => "submit", :value => "Add picture!"}
