body {
  font-family: 'Helvetica Neue';
  /*
  margin: 0;
  padding: 0;
  */
  /*-webkit-font-smoothing: antialiased;*/
  margin: auto;
  margin-top: 40px;
  margin-bottom: 4em;
  margin-left: 10em;
  width: 960px;
}

.hidden {
  display: none;
}

#body #home > p, li > p {
  line-height: 1.5em;
}

#body #home > p {
  width: 650px;
}

/*
#screen {
  border: 0px solid;
  width: 900px;
  margin: auto;
}
*/

#navigation a {
  /*background-color: green; */
  font-family: "Helvetica Neue";
  padding-top:    10px;
  /*padding-left:   10px;*/
  padding-bottom: 15px;
  color: #FA6900;
  font-weight:bold;
  /*color: #4ECDC4*/
}

.title {
  font-family: 'Spicy Rice', cursive;
  font-size: 48px;
  padding-right: 4px;
  color: #556270;
}

h2 {
  color: #556270;
  font-size: 25px;
}

.links {
  padding: 2px;
  font-size: 14px;
}

.links a         { text-decoration: none;}
.links a:visited { color: blue;}
.links a:hover   { text-decoration: underline;}
.links a:active  { }

#dynamic-content {
  border: 0px solid yellow;
  margin: auto;
}

.dog-container {
  width:180px;
  padding:10px;
  border:0px solid #aaa;
  float:left;
  /*
  margin:0 10px 10px 0;
  font-family:sans-serif;
  color:#333;
  background-color:#eee;
  */
}
.dog-container img {
  border-width:1px;
  border-style:solid;
  border-color:#fff;
  border-right-color:#aaa;
  border-bottom-color:#aaa;
  margin-right:10px; float:left;
  max-width: 100%;
  max-height: 100%;
}

aside {
  font-size: small;
  left: 850px;
  position: absolute;
  width: 180px;
}

/*
.contact-container h1 { margin:0; font-weight:normal; }
.contact-container h1 span { float:right; font-size:14px; line-height:24px; font-weight:normal; }
.contact-container div { margin-bottom:24px; font-size:14px; }
.contact-container a { color:#333;}
.contact-container dl { margin:0; float:left; font-size:14px; }
.contact-container dt, .contact-container dd { margin:0; float:left; }
.contact-container dt { width:50px; clear:left; }
*/
